<section class="labeled-area fragment" id="fragment">
  <h3 class="labeled-area__label" js-role="fragment-title">fragment</h3>
  <button class="labeled-area__button" js-role="section-switch">switch</button>
  <pre spellcheck="false" class="labeled-area__content" js-role="fragment-code">
  </pre>
</section>