<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/firacode/6.2.0/fira_code.min.css"
      integrity="sha512-MbysAYimH1hH2xYzkkMHB6MqxBqfP0megxsCLknbYqHVwXTCg9IqHbk+ZP/vnhO8UEW6PaXAkKe2vQ+SWACxxA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "UwuEditor" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>

  <body class="body">
    <input type="checkbox" name="theme-switch" id="theme-switch" checked />
    <div class="page">
      <label for="theme-switch" class="theme-switch"></label>
      <%= @inner_content %>
      <nav class="mobile-nav">
        <button type="button" class="mobile-nav__burger mobile-nav-button">M</button>
        <ul class="mobile-nav__menu spead">
          <li class="spread__item">
            <a href="#files" class="mobile-nav-button">Fs</a>
          </li>
          <li class="spread__item">
            <a href="#editor" class="mobile-nav-button">E</a>
          </li>
          <li class="spread__item">
            <a href="#fragment" class="mobile-nav-button">Fg</a>
          </li>
          <li class="spread__item">
            <a href="#config" class="mobile-nav-button">C</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
